button{
    width: 250px;
    height: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    border: 2px solid white;
    margin: 5px;
    border-radius: 15px;
    cursor: pointer;
}

button:hover{
    background-color: #4fac73;
}

.btn-click {
    background-color: #A9CAFD;
}

.btn-restart{
    background-color: bisque;
}